.whichSpace{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    font-family: 'Agbalumo', sans-serif; /*'Bungee Spice', sans-serif;*/
    font-size: 1.5em;
    text-decoration: none;
    line-height: 5rem;
    background-color: yellow;

}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kay Pho Du', serif;
    font-weight: 400;
    font-size: 3em;
}
.flex-around {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Kay Pho Du', serif;
    font-weight: 400;
    font-size: 1em;    
    padding: 0px 150px 0px 150px;
    
  }
.kitchen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kay Pho Du', serif;
    font-weight: 400;
    font-size: 1em;
}
.activeLink {
    background-color: blueviolet;
    color: white;
  }
a {
    text-decoration: none;
}
.bold {
    font-weight: bold;
}

