.whichSpace{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    font-family: 'Agbalumo', sans-serif; /*'Bungee Spice', sans-serif;*/
    font-size: 1.5em;
    text-decoration: none;
    position: absolute;
    height: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kay Pho Du', serif;
    font-weight: 400;
    font-size: 3em;
}
.kitchen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kay Pho Du', serif;
    font-weight: 400;
    font-size: 1em;
}
a:nth-of-type(1), a:nth-of-type(2),a:nth-of-type(3),a:nth-of-type(4),a:nth-of-type(5),a:nth-of-type(6),a:nth-of-type(7){
    text-decoration: none;
}
.bold {
    font-weight: bold;
}

.liSmall {
    font-size: .75em;
    /* display: none; */
}

.noDecor {
    list-style-type: none;
}
#dropdown {
    display: none;
}

#mainMenu {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    display: block;
    width: 100%;
}
#mainMenu:hover + #dropdown{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
